.ipynb_checkpoints
__pycache__
dask-worker-space
Icon*
*.gdoc
*.gsheet
*.npy
*.png
*.pdf
*.docx
*.zip
*.h5
~$*

/.idea
/.vscode
/Data/Run_*
/Figures
/Reports
/References
/Env
/*.xlsx

# For security
/jupyter_notebook_config.json
