__pycache__
.ipynb_checkpoints
*.docx
*.gdoc
*.gsheet
*.h5
*.npy
*.pdf
*.png
*.sqlite
*.zip
*backup*
~$*
dask-worker-space
Icon*

/.env
/.idea
/.vscode
/*.xlsx
/Data/Run_*
/Env
/Figures
/Packages/simul
/Pipfile
/Pipfile.lock
/References
/Reports
/Works
