[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
numba = "*"
importlib-resources = "*"
matplotlib = "*"
jupyterlab = "*"
altair = "*"
xlrd = "*"

[dev-packages]

[requires]
python_version = "3.6"
